@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #313338;
  color: #DBDEE1;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2B2D31;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1A1B1E;
  border-radius: 4px;
}